<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand text-success bold" [routerLink]="['/']">MEAN Auth app</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
                <a class="nav-link" [routerLink]="['/']">{{home}} </a>
            </li>
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
                <a class="nav-link" [routerLink]="['/login']">{{login}}</a>
            </li>
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
                <a class="nav-link" [routerLink]="['/register']"> {{register}} </a>
            </li>
        </ul>
    </div>
</nav>