<div class="jumbotron text-center">
    <h1>MEAN Authentication app</h1>
    <p class="lead">
        Welcome to my application builded with the MERN stack
    </p>
    <div>
        <a [routerLink]="['/register']" class="btn btn-primary mr-2">Register</a>
        <a [routerLink]="['/login']" class="btn btn-success ml-2">Login</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <h3>Express Backend</h3>
        <p>A rock solid backend build with express/Node.js using Mongoose to organize to the models and queries</p>
    </div>
    <div class="col-sm-4">
        <h3>Angular CLI</h3>
        <p>Angular is used on the front end of the application to generate the components</p>
    </div>
    <div class="col-sm-4">
        <h3>JWT Tokens</h3>
        <p>FUll feature authentication using jsonwebtoken.</p>
    </div>
</div>